body{
    background-color: rgb(252, 252, 246);
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.cajon{

    height: 900px;
    width: 550px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    top: 15%;
}

.calamar{
    background-color: chocolate;
    width: 120px;
    height: 120px;
    position: absolute;
}

#cajaA{
    background-color: rgb(238, 224, 132);
    position: absolute;
    left: 0%;
}

#cajaM{
    background-color: rgb(131, 76, 131);
    position: absolute;
    right: 0%;
}

#camarillo{
    background-color: rgb(217, 210, 151);
}


#cmorado{
    background-color: lightcoral;

}

#puntos{
    
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 20px;
    top: 30px;
}